html,
body,
#root {
  font-family: "Roboto", sans-serif;
}

body {
  height: 77vh;
}

a {
  text-decoration: none !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.MuiFormLabel-root.Mui-focused {
  color: white !important;
}

.match-paper{
  text-align: "center";
  padding: '20px';
  /* color: theme.palette.text.secondary, */
}

.page-wrapper{
  flex-grow: 1;
}